<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="epack.ClassFour"/>
      <class name="testnj.ClassThree"/>
      <class name="kpack.ClassSeven"/>
      <class name="testnj.ClassTwo"/>
      <class name="epack.ClassSix"/>
      <class name="epack.ClassFive"/>
      <class name="testnj.ClassOne"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
